Skip to content
 
Search Gists
Search...
All gists
Back to GitHub
@dedunumax
dedunumax/.gitignore Java
Last active 2 weeks ago • Report abuse
Code
Revisions
21
Stars
403
Forks
119
Clone this repository at &lt;script src=&quot;https://gist.github.com/dedunumax/54e82214715e35439227.js&quot;&gt;&lt;/script&gt;
<script src="https://gist.github.com/dedunumax/54e82214715e35439227.js"></script>
A complete .gitignore file for Java.
.gitignore Java
##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store

##############################
## Miscellaneous
##############################
*.log
Load earlier comments...
@dedunumax
Author
dedunumax commented on Mar 18, 2020
I thought VSCode doesn't create files. Let me check and I will change the file accordingly. Thanks a lot for the suggestion.

Apparently VSCode produces pretty much the same files as Eclipse.
It might be reasonable to adjust the comment from "Eclipse" to "Eclipse / VSCode".

Thanks a lot for the suggestion! I think they depend on the tools/extensions used with VSCode.

@joedatlive
joedatlive commented on Mar 26, 2020
How about the work space files for VSCode?
*.code-workspace

@alvhix
alvhix commented on Apr 29, 2020
Thank you very much!

@dedunumax
Author
dedunumax commented on May 18, 2020
How about the work space files for VSCode?
*.code-workspace

Done! :D

@ckzgraphics
ckzgraphics commented on May 25, 2020
Another good source- https://www.gitignore.io/

Java- https://www.gitignore.io/api/java%2Cintellij

Original Post- https://stackoverflow.com/a/38259237/2923098

@dedunumax
Author
dedunumax commented on May 25, 2020
Thanks a lot, @ckzgraphics! I personally believe checked in code should be IDE neutral. I don't like adding any file related to the .idea/ folder in the repository.

@ckzgraphics
ckzgraphics commented on May 25, 2020
Yep, @dedunumax. Commented for better reach to the resource 😃

@dedunumax
Author
dedunumax commented on Jun 13, 2020
Yep, @dedunumax. Commented for better reach to the resource 😃

Cool. :D

@belhassenessid
belhassenessid commented on Apr 16, 2021
thanks!

@serhiihoroshko
serhiihoroshko commented on Apr 27, 2021
Thanks!

@money-seoh
money-seoh commented on May 8, 2021
Thank you very much for .gitignore example for java files. It helped me a lot.

@NedkaBlagoeva
NedkaBlagoeva commented on Aug 10, 2021
I'll definitely use it, thanks for sharing :)

@hasanhg
hasanhg commented on Sep 2, 2021
Thanks!

@gibrancastillo
gibrancastillo commented on Sep 30, 2021
Thank you, one for all IDEs. :-)

@andresfeelip29
andresfeelip29 commented on Nov 26, 2021
ty;

@rr-cory-hartford
rr-cory-hartford commented on Jan 14, 2022
Rad. Thanks :)

@OpaJaa
OpaJaa commented on Feb 8, 2022
Thanks! Using macOs, Netbeans and IntelliJ so good to have comprehensive ignoring :)

@Enter55
Enter55 commented on Feb 23, 2022
I needed it I only knew it from Visual studio

Thank you!

@ecivil
ecivil commented on Apr 29, 2022
Thanks ... nice job.
Can you add *.NavData ?

@GustavoJoaoSantos
GustavoJoaoSantos commented on Jun 7, 2022
nice

@masadamsahid
masadamsahid commented on Jul 3, 2022
Its very helping me. Thanks a lot 👍

@BrandontheDev360
BrandontheDev360 commented on Aug 4, 2022
Possibly add .env for environment variables?

@Crypter0
Crypter0 commented on Sep 30, 2022
Thank you, very nice.

@TonyGravagno
TonyGravagno commented on Oct 31, 2022
Thank you for this list! Please add : ._.DS_Store

@ChanPyaeAung11
ChanPyaeAung11 commented on Feb 26, 2023
this is amazing. thx u

@MorgooN
MorgooN commented on Jul 16, 2023
Awesome, thx

@MorgooN
MorgooN commented on Jul 18, 2023
Humble suggestion about adding .xml into INTELIDEA section. Thx again

@BenMcLean
BenMcLean commented on Jul 18, 2023
Humble suggestion about adding .xml into INTELIDEA section. Thx again

Leaving that out is intentional because .xml files often are supposed to be committed.

@Marat-Sadenov
Marat-Sadenov commented on Jan 17
add please *.log

@dedunumax
Author
dedunumax commented on Jan 23
I added log under a different section.

@webclasstech
Comment
 
Leave a comment
 
Footer
© 2024 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact
Manage cookies
Do not share my personal information
